html,
body {
  --SCALE_FACTOR: 2.5;
  --SPRITE_TILE_SIZE: 8px;
  --SCREEN_TILE_SIZE: calc(var(--SCALE_FACTOR) * var(--SPRITE_TILE_SIZE));
}

@font-face {
  font-family: 'Joystix';
  src: url('./resources/Joystix.ttf');
}
